
<h1>
    Applicant Search By Firstname and Lastname
   </h1>
 <div>
   <input name="search" #searchTermF (keyup.enter)="performSearch(searchTermF)">
           
   <button (click)="performSearch(searchTermF)">Search FirstName</button>
 </div>
 
 <div>
     <input name="search" #searchTerm (keyup.enter)="performSearchLast(searchTerm)">
             
     <button (click)="performSearchLast(searchTerm)">Search LastName</button>
   </div>
 
   <select class="form-control" id="deviceModel">
        <option value="First">First Name</option>
        <option value="Last">Last Name</option>
        <option *ngFor='let element of category' [selected]="element === nameDevice" [value]="element">{{element}}</option>    
    </select>
 
   <br>
   

     <div class="container">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let l of applicants">
                    <td>{{l.firstName}}</td>
                    <td>{{l.lastName}}</td>
                    <td>{{l.email}}</td>
                </tr>
            </tbody>
          </table>
          </div>