
<div class = "container">
  <form class = "form-horizontal">
    <div class = "form-group">
      <div class = "col-sm-offset-5 col-sm-2">
        <h1>Edit Job</h1>
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Job ID:</label>
      <div class = "col-sm-6">
        <input class = "form-control" name = "id" [(ngModel)] = "jobInfo._id" disabled>
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Job Code:</label>
      <div class = "col-sm-6">
        <input class = "form-control" name = "code" [(ngModel)] = "jobInfo._jobCode" disabled>
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Job Title:</label>
      <div class = "col-sm-6">
        <input class = "form-control" name = "title" [(ngModel)] = "jobInfo.jobTitle">
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Recruiter Id:</label>
      <div class = "col-sm-6">
        <input class = "form-control" name = "recId" [(ngModel)] = "jobInfo.recruiterUserId">
      </div>
    </div>
    <div *ngIf="this.apiService.checkManagerType()" class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Approval Status:</label>
      <div class = "col-sm-6">
        <select class = "form-control" name = "approval" [(ngModel)] = "jobInfo.approval">
          <option selected value="no">Not Approved</option>
          <option value="yes">Approved</option>
        </select>
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Experience:</label>
      <div class = "col-sm-6">
        <select class="form-control" name = "experience" [(ngModel)] = "jobInfo.experience">
          <option selected value="">select one</option>
          <option value="0">&lt;1</option>
          <option value="1">1 </option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">&gt;5</option>
        </select>
      </div>
    </div>
    <div class = "form-group">
      <label class = "control-label col-sm-offset-1 col-sm-2">Skills:</label>
      <div class = "col-sm-6">
        <input class = "form-control" name = "skills" [(ngModel)] = "jobInfo.skills">
      </div>
    </div>
    <div class = "form-group">
      <div class = "col-sm-offset-3 col-sm-2">
        <button type = "button" class = "btn btn-default" (click) = "update()">Submit</button>
      </div>
    </div>
  </form>
</div>