<div *ngIf="this.apiService.checkLoginStatus()">
  <form class="container">
      <div class="form-group">
        <div>
          <h1>Create A New Job Posting</h1>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label class="control-label">Job Code: </label>
          <input class="form-control" name="jobCodeField" type="text" required #myJobCode [(ngModel)]="jobCode" #inputJobCode="ngModel">
          <div *ngIf="inputJobCode.invalid && (inputJobCode.dirty || inputJobCode.touched)" class="alert alert-danger">
            <div *ngIf="inputJobCode.errors.required">
              Job Code is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label class="control-label">Job Title: </label>
          <input class="form-control" name="jobTitleField" type="text" required #myJobTitle [(ngModel)]="jobTitle" #inputJobTitle="ngModel">
          <div *ngIf="inputJobTitle.invalid && (inputJobTitle.dirty || inputJobTitle.touched)" class="alert alert-danger">
            <div *ngIf="inputJobTitle.errors.required">
              Job Title is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label class="control-label">Skills: </label>
          <input class="form-control" name="skillsField" type="text" required #mySkills [(ngModel)]="skills" #inputSkills="ngModel">
          <div *ngIf="inputSkills.invalid && (inputSkills.dirty || inputSkills.touched)" class="alert alert-danger">
            <div *ngIf="inputSkills.errors.required">
              Please enter skills required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label class="control-label">Experience: </label>
          <select class="form-control" #myExperience>
            <option selected>select one</option>
            <option value="0">&lt;1 year</option>
            <option value="1">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5 years</option>
            <option value="6">&gt;5 years</option>
          </select>
        </div>
      </div>
      
      <div>
          <button class="btn btn-default" (click)="
            jobCode = myJobCode.value;
            jobTitle = myJobTitle.value;
            skills = mySkills.value;
            experience = myExperience.value;
            getInputs();
            sendNewJobPosting();
          ">Submit</button>
        </div>
    </form>  
</div>