<div>
  <!-- <form>
    <table>
      <tr>
        <td>Username: </td>
        <td><input type="text" #myUsername></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" #myPassword></td>
      </tr>
      <tr>
        <td>First Name: </td>
        <td><input type="text" #myFirstName></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><input type="text" #myLastName></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input type="text" #myEmail></td>
      </tr>
      <tr>
        <td>User Type: </td>
        <td>  
          <select #myUserType>
            <option selected>Select one</option>
            <option value="Manager">Manager</option>
            <option value="Recruiter">Recruiter</option>
          </select>
        </td>
      </tr>
    </table>
  </form> -->

  <form class="container">
    <div class="form-group">
      <div>
        <h1>Create A New User</h1>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Username: </label>
        <input class="form-control" type="text" #myUsername>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Password: </label>
        <input class="form-control" type="password" #myPassword>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">First Name: </label>
        <input class="form-control" type="text" #myFirstName>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Last Name: </label>
        <input class="form-control" type="text" #myLastName>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Email: </label>
        <input class="form-control" type="text" #myEmail>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">User Type: </label>
        <select class="form-control" #myUserType>
            <option selected>Select one</option>
            <option value="Manager">Manager</option>
            <option value="Recruiter">Recruiter</option>
          </select>
      </div>
    </div>  
  </form>

  <div>
    <button class="btn btn-default" (click)="
      username = myUsername.value;
      password = myPassword.value;
      firstName = myFirstName.value;
      lastName = myLastName.value;
      email = myEmail.value;
      userType = myUserType.value;
      getInputs();
      checkInputs();
      sendNewUser();
    ">Submit</button>
  </div>
</div>