<p>
  add-user works!
</p>

<div>
  <form>
    <table>
      <tr>
        <td>Username: </td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password"></td>
      </tr>
      <tr>
        <td>First Name: </td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>User Type: </td>
        <td><input type="text"></td>
      </tr>
    </table>
  </form>

  <div>
    <button>Submit</button>
  </div>
</div>