<div>
  <form class="container">
    <div class="form-group">
      <div>
        <h1>Create A New User</h1>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Username: </label>
        <input class="form-control" type="text" name="usernameField" required #myUsername [(ngModel)]="username" #inputUsername="ngModel">
        <div *ngIf="inputUsername.invalid && (inputUsername.dirty || inputUsername.touched)" class="alert alert-danger">
          <div *ngIf="inputUsername.errors.required">
            Username is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Password: </label>
        <input class="form-control" type="password" name="passwordField" required minlength="6" #myPassword [(ngModel)]="password" #inputPassword="ngModel">
        <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)" class="alert alert-danger">
          <div *ngIf="inputPassword.errors.required">
            Password is required.
          </div>
          <div *ngIf="inputPassword.errors.minlength">
            Password must be longer than 5 characters.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">First Name: </label>
        <input class="form-control" type="text" name="firstNameField" required #myFirstName [(ngModel)]="firstName" #inputFirstName="ngModel">
        <div *ngIf="inputFirstName.invalid && (inputFirstName.dirty || inputFirstName.touched)" class="alert alert-danger">
          <div *ngIf="inputFirstName.errors.required">
            First Name is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Last Name: </label>
        <input class="form-control" type="text" name="lastNameField" required #myLastName [(ngModel)]="lastName" #inputLastName="ngModel">
        <div *ngIf="inputLastName.invalid && (inputLastName.dirty || inputLastName.touched)" class="alert alert-danger">
          <div *ngIf="inputLastName.errors.required">
            Last Name is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">Email: </label>
        <input class="form-control" type="text" name="emailField" required #myEmail [(ngModel)]="email" #inputEmail="ngModel">
        <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)" class="alert alert-danger">
          <div *ngIf="inputEmail.errors.required">
            Email is required.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label">User Type: </label>
        <select class="form-control" #myUserType>
            <option selected>Select one</option>
            <option value="Manager">Manager</option>
            <option value="Recruiter">Recruiter</option>
          </select>
      </div>
    </div>
    
    <div>
        <button class="btn btn-default" (click)="
          username = myUsername.value;
          password = myPassword.value;
          firstName = myFirstName.value;
          lastName = myLastName.value;
          email = myEmail.value;
          userType = myUserType.value;
          getInputs();
          sendNewUser();
        ">Submit</button>
      </div>
  </form>
</div>