
<div *ngIf="apiService.checkLoginStatus()" class="container">
    <div class="py-5 text-center">
        <h2>Edit applicant</h2>
        <p class="lead">
            Below is a from that allows you to Edit applicant information.
        </p>
        <div class="col-sm-4" class="alert-danger" [innerHtml] = "message"></div>
    </div>
  <form class="form-horizontal" action="">
    <div class="form-group">
      <label class="control-label col-sm-2" for="fname">Fist Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname"
        [(ngModel)]="applicant.firstName" #fname="ngModel" required>
      </div>
      <div class="col-sm-2">
          <span *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert-danger">required</span>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">Last Name:</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname"
        [(ngModel)]="applicant.lastName" #lname="ngModel" required> 
      </div>
      <div class="col-sm-2">
        <span *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert-danger">required</span>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
          [(ngModel)]="applicant.email" #email ="ngModel" required>
        </div>
        <div class="col-sm-2">
          <span *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">required</span>
        </div>
    </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="email">Years of Experience:</label>
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="applicant.experience" name="experience" #exp="ngModel" required>
              <option selected value="">select one</option>
              <option value="0">&lt;1</option>
              <option value="1">1 </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">&gt;5</option>
            </select>
          </div>
          <div class="col-sm-2">
              <span *ngIf="exp.invalid && (exp.dirty || exp.touched)" class="alert-danger">required</span>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="rUserId">Recruiter userID:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="rUserId" placeholder="Enter userId" name="rUserId" disabled
          [(ngModel)]="applicant.recruiterUserId">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="skills">Skills:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="skills" placeholder="Enter skills (seperated by commas)" name="skills"
          [(ngModel)]="applicant.skills" #skills="ngModel" required minlength="2">
        </div>
        <div class="col-sm-2">
          <span *ngIf="skills.invalid && (skills.dirty || skills.touched)" class="alert-danger">required</span>
        </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-6">
        <button type="button" class="btn btn-default" (click)="saveApplicant()">Save</button>
        
      </div>
    </div>
  </form>
</div>
