<nav class="navbar navbar-default">
    <div class="container bg-dark">
        <div class="navbar-header">
            <a routerLink="" class="navbar-brand">someText</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="">Welcome</a></li>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="applicant">Applicant</a></li>
            <li><a routerLink="job">Job Postings</a></li>
            <li><a routerLink="login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
  <table class="table">
  <thead>
      <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
      </tr>
  </thead>
  <tbody>
      <tr scope="row" *ngFor="let l of applicants">
          <td>{{l.firstName}}</td>
          <td>{{l.lastName}}</td>
          <td>{{l.email}}</td>
      </tr>
  </tbody>
</table>
</div>
