<p>
  login works!
</p>

<div>
  <table>
    <tr>
      <td>Username: </td>
      <td><input type="text" #myUsername/></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input type="password" #myPassword/></td>
    </tr>
  </table>
  
  <div>
    <button (click)="username = myUsername.value; password = myPassword.value; login();">Login</button>
  </div>  
</div>

<!-- <div>
  <button (click)="checkSharedStatus()">Check Shared Status</button>
</div> -->

<div>
  <button routerLink="register">Register</button>
</div>